@model SalmonRiver.Models.BookNowViewModel

@{
    ViewBag.Title = "Welcome";
    ViewBag.HasHeaderCarousel = true;
    ViewBag.ActiveHeader = "Home";

    string errorMessage;

    bool startDateError = false;
    bool endDateError = false;
    bool guestsError = false;

    switch ((Errors?)ViewBag.ErrorCode)
    {
        case Errors.BookNow_InvalidStartOrEndDate:
            startDateError = true;
            endDateError = true;
            errorMessage = "Please select a valid start and end from the available dates.";
            
            break;
            
        case Errors.BookNow_SelectedDatesOnHold: 
            startDateError = true;
            endDateError = true;
            errorMessage = "One or more of the dates you selected are unavailable at the moment. Please try again a little later."; 
            break;
            
        case Errors.BookNow_SomeDatesUnavailable: 
            startDateError = true;
            endDateError = true;
            errorMessage = "Some of the dates you selected are no longer available."; 
            break;
            
        case Errors.BookNow_InvalidGuestSelection:
            guestsError = true;
            errorMessage = "The number of selected guests is invalid. Please select how many guests will be attending.";
            break;
            
        case Errors.BookNow_EndDateExceedsMaxDate:
            endDateError = true;
            errorMessage = "The last visit date you specified is not available at this time. We currently only accept reservations up to 180 days in advance.";
            break;
            
        case Errors.BookNow_FirstDayMustBeSaturday:
            startDateError = true;
            errorMessage = "The checkin date must be Saturday.";
            break;
            
        case Errors.BookNow_LastDayMustBeFriday:
            endDateError = true;
            errorMessage = "The checkout date must be Saturday.";
            break;
            
        case Errors.BookNow_LengthMustBeSevenDays:
            startDateError = true;
            endDateError = true;
            errorMessage = "The duration of your stay may only be one week.";
            break;
            
        case Errors.BookNow_OtherError:
            guestsError = true;
            startDateError = true;
            endDateError = true;
            errorMessage = "An error occurred. Please make sure you select a start date, end date and the number of guests.";
            break;
            
        default: errorMessage = null; break;
    }
}

@section styles {
    <style type="text/css">
        .header-site {
            margin-bottom: -70px;
        }
    </style>
}

@section scripts {
    <script src="/Scripts/custom/HeaderNavBar.js"></script>

    <script>
            var isMobile = $(window).width() <= 480 || Modernizr.touch;

            if (isMobile) {
                $('#startDate > .form-control').attr('type', 'date');
                $('#endDate > .form-control').attr('type', 'date');
                $('#startDate > .input-group-addon').hide();
                $('#endDate > .input-group-addon').hide();
            } else {
                var availableDates = [];
                @foreach (var availableDate in ViewBag.AvailableDates)
        {
            @:availableDates.push("@string.Format("{0:MM/dd/yyyy}", availableDate)");
                                        }

                $('#startDate').datetimepicker({ useCurrent: false, format: 'MM/DD/YYYY', enabledDates: availableDates, daysOfWeekDisabled: [0, 1, 2, 3, 4, 5], minDate: '2016-09-01', viewDate: '2016-09-01' });
                $('#endDate').datetimepicker({
                    useCurrent: false, //Important! See issue #1075
                    format: 'MM/DD/YYYY',
                    enabledDates: availableDates,
                    daysOfWeekDisabled: [0, 1, 2, 3, 4, 5],
                    minDate: '2016-09-01', viewDate: '2016-09-01'
                });

                $("#startDate").on("dp.change", function (e) {
                    $('#endDate').data("DateTimePicker").minDate(e.date);
                });
                $("#endDate").on("dp.change", function (e) {
                    $('#startDate').data("DateTimePicker").maxDate(e.date);
                });
            }
    </script>

}

@using(Html.BeginForm())
{ 
<div class="booknow">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3><label>Book Your Reservation Now</label></h3>

                <div class="row">
                    @if (!string.IsNullOrWhiteSpace(errorMessage))
                    {
                        <div class="col-sm-12">
                            <p class="text-danger" style="font-weight: bold;">
                                @errorMessage
                            </p>
                        </div>
                    }

                    <div class="col-sm-12">
                        <div class="form-horizontal">

                            <div class='col-xs-5 col-sm-3'>
                                <div class="@(!startDateError ? "form-group" : "form-group has-error has-feedback")">
                                    <div class='input-group date' id='startDate'>
                                        @Html.TextBoxFor(i => i.Start, new { @class = "form-control", placeholder = "Start" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <label class="control-label col-xs-2 col-sm-1" style="text-align: center">to</label>
                            <div class='col-xs-5 col-sm-3'>
                                <div class="@(!endDateError ? "form-group" : "form-group has-error has-feedback")">
                                    <div class='input-group date' id='endDate'>
                                        @Html.TextBoxFor(i => i.End, new { @class = "form-control", placeholder = "End" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 col-xs-5 col-sm-offset-1">
                                <div class="@(!guestsError ? "form-group" : "form-group has-error has-feedback")">
                                    @Html.DropDownListFor(i => i.Guests, new List<SelectListItem>() {
                           new SelectListItem() { Text = "# of guests" },
                           new SelectListItem() { Text = "1 guest", Value = "1" },
                           new SelectListItem() { Text = "2 guests", Value = "2" },
                           new SelectListItem() { Text = "3 guests", Value = "3" },
                           new SelectListItem() { Text = "4 guests", Value = "4" },
                           new SelectListItem() { Text = "5 guests", Value = "5" },
                           new SelectListItem() { Text = "6 guests", Value = "6" } }, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-sm-2 col-xs-7" style="text-align: right">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" onclick="return ">Book&nbsp;&nbsp;&#10097;&#10097;</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<div class="container">
    <div class="row">

        <div class="col-sm-8">
            <h1>Headwaters Cabins at the Salmon River</h1>
            <p>Just steps from the headwaters of the Salmon River enjoy your stay in this 1100 sq. ft. cabin that sleeps 4-6. It is equipped with all amenities including stainless appliances in the custom designed kitchen, flat screen TV’s in each bedroom with charging stations for your electronics and a full bath and half. All linens are included for your convenience. Warm yourself on those chilly nights by the gas stove conveniently located in the spacious living room. The snowmobile trail is just around the corner and fishing access to the Salmon River is across the road at the headwaters.</p>
            <p>This area has it all. Stream trout fishing, snowmobiling, hiking, kayaking, skiing or just a place to relax and enjoy nature. Located just outside the village of Altmar, New York this cabin is in the heart of Salmon fishing for the expert or the novice!</p>
            <p>And while you are here visit the Salmon River Fish Hatchery, the state’s largest hatchery, maintained by the Department of Environmental Conservation just down the road!</p>
            
            <p class="text-center">
                <strong><em>Now taking reservations starting September 1, 2016.</em></strong>
            </p>

            <p>
                <ul>
                    <li>Check out 10:00 AM, Check in 3:00 PM</li>
                    <li>$250 security deposit at the time of booking fully refundable within one week after check out</li>
                    <li>Weekly rate $2000.00 Saturday to Saturday for 4 persons</li>
                    <li>$50.00 per night each additional person</li>
                </ul>
            </p>
        </div>

        <div class="col-sm-4 hidden-xs" style="margin-top:20px;">
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23salmonriver%20from%3Afunkyredbird%20include%3Aretweets" data-widget-id="745651972615864321" data-chrome="nofooter transparent">Tweets about #salmonriver from:funkyredbird include:retweets</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>

    </div>

    <div class="row">


        <div class="col-sm-6 col-md-4">
            <a href="http://www.dec.ny.gov/outdoor/21663.html">
                <div class="panel panel-default book-now" style="margin-top: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                    <div class="panel-heading" style="background-image: url(/Content/images/gallery/SalmonRiverFishHatchery.jpg?w=600&quality=40); background-repeat: no-repeat; background-size: cover;background-position: center bottom; ">
                        <img src="/Content/images/gallery/SalmonRiverFishHatchery.jpg?w=600&quality=40" class="hotlinks" />
                    </div>
                    <div class="panel-body">
                        <div class="pull-left"><strong>Salmon River Fish Hatchery</strong></div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="http://www.visitoswegocounty.com/snowmobile/">
                <div class="panel panel-default book-now" style="margin-top: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                    <div class="panel-heading" style="background-image: url(/Content/images/gallery/snowmobile.jpg?w=600&quality=40); background-repeat: no-repeat; background-size: cover;background-position: center bottom; ">
                        <img src="~/Content/images/gallery/snowmobile.jpg?w=600&quality=40" class="hotlinks" />
                    </div>
                    <div class="panel-body">
                        <div class="pull-left"><strong>Snowmobiling Trails</strong></div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="http://visitoswegocounty.com/the-great-outdoors/cross-country-skiing-snowshoeing/">
                <div class="panel panel-default book-now" style="margin-top: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                    <div class="panel-heading" style="background-image: url(/Content/images/skiing.jpg?w=600&quality=40); background-repeat: no-repeat; background-size: cover;background-position: center bottom; ">
                        <img src="/Content/images/skiing.jpg?w=600&quality=40" class="hotlinks" />
                    </div>
                    <div class="panel-body">
                        <div class="pull-left"><strong>Ski Trails</strong></div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="http://www.adventure-calls.com/rafting_salmonriver.html">
                <div class="panel panel-default book-now" style="margin-top: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                    <div class="panel-heading" style="background-image: url(/Content/images/kayaking.jpg?w=600&quality=40); background-repeat: no-repeat; background-size: cover;background-position: center bottom; ">
                        <img src="/Content/images/kayaking.jpg?w=600&quality=40" class="hotlinks" />
                    </div>
                    <div class="panel-body">
                        <div class="pull-left"><strong>Kayaking</strong></div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="http://oswegocounty.maps.arcgis.com/apps/MapTour/index.html?appid=af44af41ab5642d7958e229a61bfceb0">
                <div class="panel panel-default book-now" style="margin-top: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                    <div class="panel-heading" style="background-image: url(/Content/images/gallery/nature.jpg?w=600&quality=30); background-repeat: no-repeat; background-size: cover;background-position: center bottom; ">
                        <img src="/Content/images/gallery/nature.jpg?w=600&quality=30" class="hotlinks" />
                    </div>
                    <div class="panel-body">
                        <div class="pull-left"><strong>Nature Views</strong></div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="http://oswegocounty.maps.arcgis.com/apps/MapTour/index.html?appid=af44af41ab5642d7958e229a61bfceb0">
                <div class="panel panel-default book-now" style="margin-top: 20px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                    <div class="panel-heading" style="background-image: url(/Content/images/hiking.jpg?w=600&quality=40); background-repeat: no-repeat; background-size: cover;background-position: center bottom; ">
                        <img src="/Content/images/hiking.jpg?w=600&quality=40" class="hotlinks" />
                    </div>
                    <div class="panel-body">
                        <div class="pull-left"><strong>Hiking Trails</strong></div>
                        <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>