@model PagedList.IPagedList<SalmonRiver.Date>
@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#startDateRange').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            $('#endDateRange').datetimepicker({
                format: 'MM/DD/YYYY',
                useCurrent: false
            });
            $("#startDateRange").on("dp.change", function (e) {
                $('#endDateRange').data("DateTimePicker").minDate(e.date);
            });
            $("#endDateRange").on("dp.change", function (e) {
                $('#startDateRange').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}

@{
    ViewBag.Title = "Index";
}

<h2>Date Registration Administration</h2>

<div class="well">
@using (Html.BeginForm("Index", "Dates", new { }, FormMethod.Get))
{
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBox("showPast", Request.QueryString["showPast"] == "true") Show Dates in the Past
            </label>
        </div>
    </div>

    @Html.Hidden("page", Model.PageNumber);

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                <label>Date Range Filter</label>
            </div>

            <div class="col-sm-5">
                <div class="input-group" id="startDateRange">
                    <input type="text" class="form-control" name="startDate" placeholder="Start date range" value="@Request.QueryString["startDate"]">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="input-group" id="endDateRange">
                    <input type="text" class="form-control" name="endDate" placeholder="End date range" value="@Request.QueryString["endDate"]">
                    <span class="input-group-addon">
                        t
                    </span>
                </div>
            </div>
        </div>

    </div>

        <button type="submit" class="btn btn-default">Apply Date Filter</button>
}

</div>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Checkin Time
        </th>
        <th>
            Checkout Time
        </th>
        <th>
            Holiday
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="@(item.IsActive ? "success" : "danger")">
        <td>
            @item.Date1.ToString("ddd, MMM d, yyyy")
        </td>
        <td>
            @item.CheckIn.ToString("h:mm tt")
        </td>
        <td>
            @item.CheckOut.ToString("h:mm tt")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Holiday.Holiday1)
        </td>
        <td align="right">
            <a href="@Url.Action("Edit",  new { id = item.DateID })" title="Edit">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </td>
    </tr>
}

</table>

<br />
Active dates will appear in green, inactive dates will appear in red.
<br />
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount.

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))